body{
    margin: 0px;
    background: url(https://lh3.googleusercontent.com/0zoOXViblxanBV_Q7Np4A-kuwtWUpzcGIA5Rm2x8VGiogevQkGFhqI8Kv34hh03xPhRBV3dO-DpN5Ao=w1920-h1080-no);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.appbar-background{
    background-color: #5D4037 !important;
}
.dropZone {
    background-color: rgba(67, 74, 115, 0.5) !important;
}
.appbar{
  background-color: rgb(38, 50, 56) !important;
}
.login_page{
  width: 100%;
  height: 100%;
  display: flex;
  /*align-items: center;*/
  justify-content: center;
  background-color: #CFD8DC;
}

.login_page_paper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.login_page_form {
  /*margin-left: 20px;*/
  /*margin-right: 20px;*/
}
.login_page_icon{
  margin:auto;
}
.login_page_register{
  display: flex;
  margin-top: 10px;
}
.full-width{
  width: 80%;
}
.dropZone{
    border-width: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    background-color: rgba(102, 102, 102);
    padding-top: 10px;
    padding-bottom: 10px;
}
.text-center{
    text-align: center;
}
.align-end{
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    text-align: end;
}
.inlineDiv{
    display: inline-block;
}
.box-detail{
  padding-left: 20px;
  padding-right: 20px;
}
.score-paper{
  float: right;
  padding-top: 20px;
}
.score-detail{
    height: 80px;
    width: 80px;
    line-height: 80px;
    text-align: center;

}
.detail-info-paper{
    height: 100%;
    width: 100%;

}
.clear-both{
    clear: both;
}

button:focus {
    outline: none;
    background-color: transparent !important;
}
a {
  color: inherit !important;
}





/*Responsive*/
@media only screen and (max-width: 500px) {
  .box-detail{
    /*padding-top: 5px;*/
  }
  .score-paper{
    float: none;
    display: block !important;
  }
  .score-detail{
      height: 40px;
      width: 100%;
      line-height: 40px;
      text-align: center;
      float: none;
  }
}
